{% load static %}
<a href="#" class="scroll-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>
<footer id="footer" class="footer">
      <!--
    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div>
        </div>
      </div>
    </div>
-->

    <div class="container footer-top">
    <span class="sitename">{{ company.name }} ŞUBELERİ</span>
      <div class="row gy-4">
          {% for branch in branches %}
            <div class="col-lg-4 col-md-6 footer-about">
              <a href="#contact" class="d-flex align-items-center">
                <span class="sitename">{{ branch.name }}</span>
              </a>
              <div class="footer-contact pt-2">
                <p>{{ branch.address }}</p>
                  {% for phone in phone_number %}
                    <p class="ml-3"><strong>{{ phone.name }}:</strong> <span>{{ phone.phone_number }}</span></p>
                  {% endfor %}
                <p><strong>Email:</strong> <span>{{ branch.email }}</span></p>
              </div>
            </div>
          {% endfor %}



        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Başlıklar</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="/">Anasayfa</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/#about">Hakkında</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/#values">Değerlerimiz</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/#portfolio">Ürünler</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/#faq">S.S.S</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/#contact">İletişim</a></li>
          </ul>


        </div>

        <!-- BLOG YAZISI GELDİĞİNDE AKTİFLEŞTİR
        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Blog Yazıları</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
          </ul>
        </div>
        -->
      <!--<div class="col-lg-2 col-md-3 footer-links">
          <h4>İş Alanları</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Mermer Makinası</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Yem Makinası</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Hamak Standı</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Romörk</a></li>
          </ul>
        </div> -->

        <div class="col-lg-4 col-md-5">
          <h4>Sosyal Medya Hesapları</h4>
          <p>Bizi sosyal medya hesaplarından anlık takip edebilirsiniz</p>
          <div class="social-links d-flex">
              {% for branch in branches%}
                <a href="{{ branch.youtube_url }}"><i class="bi bi-youtube"></i></a>
                <a href="{{ branch.facebook_url }}"><i class="bi bi-facebook"></i></a>
                <a href="">{{ branch.instagram_url }}<i class="bi bi-instagram"></i></a>
                <a href="{{ branch.google_business_url }}"><i class="bi bi-google"></i></a>
              {% endfor %}
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Tüm</span> <strong class="px-1 sitename">Hakları</strong> <span>Saklıdır</span></p>
      <div class="credits">
         <a href="https://bootstrapmade.com/">Bilal Arslan</a> tarafından tasarlanmıştır.
      </div>
    </div>
  </footer>
